<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WXChart"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LineChartActivity2"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.LineChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.BarChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.HBarChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PieChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.HoopChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.DynamicBarChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.DrawMapActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.DrawMap2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.DrawMap3Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.DynamicTopBarActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PolygonActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PKActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PK2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PK3Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PK4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.PyramidActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.Pyramid2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WXChart" />
        <activity
            android:name=".activity.Pyramid3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WXChart" />
    </application>

</manifest>